TELEGRAM_TOKEN = ""
CHAT_ID = -123
ADMIN = "Siergiej"
BOT_NAME = "lpr_voting_test_bot"
ADMIN_CAN_VOTE = False
DOMAIN = "https://antender.pythonanywhere.com"
ACCESS_TOKEN = ""
PRIORITY_VOTING_SCALE = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]